@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
main {
  display: flex;
  flex-direction: row;
}

body {
  font-size: 100%;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  -webkit-font-smoothing: antialiased;
}

.content {
  display: flex;
  margin-bottom: 4.8rem;
}

.content_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 164px;
  margin-left: 86px;
  margin-bottom: 64px;
  margin-right: 125px;
}

.content_main_img {
  width: 247.31px;
  height: 100px;
  margin-bottom: 88px;
}

.content_main_tit {
  font-family: 'Mulish', sans-serif;
  width: 172px;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.content_main_sub {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7e7e7e;
  margin-bottom: 24px;
}

.content_main_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 420px;
  height: 58px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 40px;
}

.content_main_user_rectangle {
  position: absolute;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: 58px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;

  margin: 0 auto;

  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.material-icons {
  position: absolute;

  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-left: 5px;
  color: #e5e5e5;
}

.content_main_user_txt {
  width: 410px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 45px;
}

.content_main_btn {
  font-family: 'Mulish', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;

  width: 420px;
  height: 56px;
  border: none;
  border-radius: 100px;
  background-color: #000000;
}

.footer_cstm {
  border-top: 0.4px solid #fff2e7;
  justify-content: flex-start;
}

.footer_cstm a {
  font-family: 'Mulish', sans-serif;
  color: #7e7e7e;
  font-weight: 400;
  font-size: 16px;
  padding: 42px;

  height: 48px;
}

.content_sec {
  width: 798px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}

.content_sec_img {
  width: 626.67px;
  height: 500px;
  margin: 148px 85.33px 88px 86px;
}

.content_main_tit_2 {
  display: flex;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0px 88px 114px 88px;
  color: #ffffff;
}
